<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="readAll()">
	<i class="fa fa-bell" aria-hidden="true"></i>
	<span id="notificationCounter" class="label label-danger incoming-notifications"></span><span class="caret"></span>
</a>
<ul id="notifications-caret" class="dropdown-menu">
    {% for notification in notifications %}
        <li class="notify {% if notification.read == false %}new-notification{% endif %}" onclick="document.location.href='{{ notification.link }}'">
            <div class="notification-container">
                <div class="notification-image">
                	{% set image %}
                        {% if notification.image starts with '/uploads' %}
                        	//www.imperiumsanguinis.it{{ notification.image }}
                        {% else %}
                            {{ notification.image }}
                        {% endif %}
                    {% endset %}
                    <img src="{{ image | trim }}" />
                </div>
                <div class="notification-message">
                    <p><strong>{{ notification.title }}</strong> {{ notification.message }}</p>
                </div>
                <div class="clear"></div>
            </div>
        </li>
        {% if not loop.last %}
            <li role="separator" class="divider"></li>
        {% endif %}
    {% endfor %}
</ul>
