<div class="modal-content">
    <div class="modal-header">Eliseo</div>
    <div class="modal-body">
    	<div class="assigned">
    		<div class="row">
        		<div class="col-sm-12">
                    <h3>{{ assigned.name }} {% if assigned.characterAuthor %}<small>di {{ assigned.characterAuthor.characterName }}</small>{% endif %}</h3>
            	</div>
        	</div>
        	<div class="row">
            	{% set class %}
            		{% if viewAll %}col-xs-4{% endif %}
            		{% if not viewAll %}col-xs-12{% endif %}
            	{% endset %}
        		<div class="{{ class | trim }}">
                    <p><strong>Descrizione</strong></p>
                    <p>{{ assigned.description|ue|raw }}</p>
            	</div>
            	{% if viewAll %}
					<div class="{{ class | trim }}">
						<p><strong>Eventi della serata</strong></p>
						<p>{{ assigned.happening|ue|raw }}</p>
					</div>
            		<div class="{{ class | trim }}">
                        <p><strong>Scaletta</strong></p>
                        <p>{{ assigned.lineup | nl2br | ue | raw}}</p>
                	</div>
            	{% endif %}
        	</div>
        </div>
    	<div class="modal-foter"></div>
	</div>
</div>