<div class="modal-content">
    <div class="modal-header">Eliseo</div>
    <div class="modal-body">
    	<div class="assigned">
    		<div class="row">
        		<div class="col-sm-12">
                    <h3>{{ assigned.name }} {% if assigned.characterAuthor %}<small>di {{ assigned.characterAuthor.characterName }}</small>{% endif %}</h3>
            	</div>
        	</div>
        	<div class="row">
            	{% set class %}
            		{% if is_granted('ROLE_STORY_TELLER') %}col-xs-6{% endif %}
            		{% if not is_granted('ROLE_STORY_TELLER') %}col-xs-12{% endif %}
            	{% endset %}
        		<div class="{{ class | trim }}">
                    <p><strong>Descrizione</strong></p>
                    <p>{{ assigned.description|ue|raw }}</p>
            	</div>
            	{% if is_granted('ROLE_STORY_TELLER') %}
            		<div class="col-sm-6">
                        <p><strong>Scaletta</strong></p>
                        <p>{{ assigned.lineup | nl2br | ue | raw}}</p>
                	</div>
            	{% endif %}
        	</div>
        </div>
    	<div class="modal-foter"></div>
	</div>
</div>