<div class="modal-content">
    <div class="modal-header">Assegna Eliseo</div>
    <div class="modal-body">
    	{% if assigned %}
        	<div class="assigned">
        		<div class="row">
            		<div class="col-sm-12">
                        <h3>{{ assigned.name }} {% if assigned.characterAuthor %}<small>di {{ assigned.characterAuthor.characterName }}</small>{% endif %}</h3>
                	</div>
            	</div>
            	<div class="row">
                	{% set class %}
                		{% if is_granted('ROLE_STORY_TELLER') %}col-xs-6{% endif %}
                		{% if not is_granted('ROLE_STORY_TELLER') %}col-xs-12{% endif %}
                	{% endset %}
            		<div class="{{ class | trim }}">
                        <p><strong>Descrizione</strong></p>
                        <p>{{ assigned.description|ue|raw }}</p>
                	</div>
                	{% if is_granted('ROLE_STORY_TELLER') %}
                		<div class="col-sm-6">
                            <p><strong>Scaletta</strong></p>
							<p>{{ assigned.lineup | nl2br | ue | raw}}</p>
                    	</div>
                	{% endif %}
            	</div>
            </div>
        	<hr />
    	{% else %}
        	<div class="col-sm-12">
            	<div class="jumbotron">
                  <h3>Nessuna proposta assegnata</h3>
                </div>
        	</div>
    	{% endif %}
    	{% for proposal in proposals %}
    	<div class="row">
            <div class="col-xs-12">
            	<h3>{{ proposal.name }} {% if proposal.characterAuthor %}<small>di {{ proposal.characterAuthor.characterName }}</small>{% endif %}</h3>
            </div>
    	</div>
        <div class="row">
        	{% set class %}
        		{% if is_granted('ROLE_STORY_TELLER') %}col-xs-5{% endif %}
        		{% if not is_granted('ROLE_STORY_TELLER') %}col-xs-10{% endif %}
        	{% endset %}
            <div class="{{ class | trim }}">
            	<p><strong>Descrizione</strong></p>
            	<p>{{ proposal.description |ue|raw }}</p>
            </div>
        	{% if is_granted('ROLE_STORY_TELLER') %}
            <div class="col-xs-5">
            	<p><strong>Scaletta</strong></p>
				<p>{{ assigned.lineup | nl2br | ue | raw}}</p>
            </div>
        	{% endif %}
        	<div class="col-xs-2">
            	<a href="{{ path('event_assign', {'eid':eid, 'pid':proposal.id}) }}" class="btn btn-primary" role="button">Assegna</a>
            </div>
    	</div>
    	{% if not loop.last %}
    	<hr />
    	{% endif %}
    	{% endfor %}
    	<div class="modal-foter"></div>
	</div>
</div>