{% extends 'base.layout.html.twig' %}

{% block title %}
    {{ character.characterName }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/character.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/character.js') }}"></script>
{% endblock %}

{% block body %}
    {% set cover %}
        {% if character.extra.cover %}
            //www.imperiumsanguinis.it{{ asset('uploads/character_cover/' ~ character.extra.cover) }}
        {% else %}
            http://via.placeholder.com/500x500
        {% endif %}
    {% endset %}
    <div class="profile-cover" data-background="{{ cover | trim }}">
        {% if isMine or is_granted("ROLE_STORY_TELLER") %}
        <a class="edit" {% if is_granted("ROLE_STORY_TELLER") %}data-characterid="{{ character.id }}"{% endif %} data-toggle="modal" data-target="#uploader" data-destination="cover" data-name="character_cover_uploader[cover]" data-action="{{ path('character-upload-cover') }}">Modifica copertina</a>
        {% endif %}
    </div>
    <div class="profile-pic">
        {% if character.photo %}
            <div class="character-pic-container">
                <div class="character-pic" data-background="//www.imperiumsanguinis.it{{ asset('uploads/character_photo/' ~ character.photo) }}"></div>
            </div>
        {% else %}
            <div class="character-pic-container">
                <div class="character-pic" data-background="//ui-avatars.com/api/?name={{ character.characterName }}&size=200&rounded=true"></div>
            </div>
        {% endif %}
        {% if isMine or is_granted("ROLE_STORY_TELLER") %}<a class="edit" {% if is_granted("ROLE_STORY_TELLER") %}data-characterid="{{ character.id }}"{% endif %} data-toggle="modal" data-target="#uploader" data-destination="photo" data-name="character_photo_uploader[photo]" data-action="{{ path('character-upload-photo') }}">Modifica immagine</a>{% endif %}
    </div>
    <div class="separator"></div>
    <div class="container">
        <div>
            <h1>
            	{{ character.characterName }}
    			<div class="btn-group" role="group" aria-label="...">
    				{% if is_granted('ROLE_STORY_TELLER') %}
    					<a class="btn btn-default" href="{{ path('messenger') }}">Messaggi</a>
    				{% elseif character not in app.user.characters %}
    					<a class="btn btn-default" href="{{ path('messenger_chat', {characterName:character.characterNameKeyUrl}) }}">Messaggio</a>
    				{% endif %}
    				{% if not isMine %}
    					{% if areConnected is defined and areConnected %}
    						<a href="#" role="button" class="btn btn-default" disabled="disabled">Hai già il contatto privato</a>
    					{% else %}
    						{% if connectionInfo is not null %}
    							{% if connectionInfo.currentUserIsRequesting %}
    								<a href="" role="button" class="btn btn-default" disabled="disabled">Hai già inviato la richiesta</a>
    							{% else %}
    								<a href="{{ path('character-connection-modal', {'action':'confirm','id' : connectionInfo.connectionId}) }}" data-toggle="modal" data-target="#connectModal" role="button" class="btn btn-default">Conferma la richiesta</a>
    							{% endif %}
    						{% else %}
    							<a href="{{ path('character-connection-modal', {'action':'send','id' : character.id}) }}" data-toggle="modal" data-target="#connectModal" role="button" class="btn btn-default">Richiedi contatto privato</a>
    						{% endif %}
    					{% endif %}
    				{% elseif is_granted('ROLE_STORY_TELLER') %}
    					<a href="{{ path('character-connection-modal', {'action':'manage','id' : character.id}) }}" data-toggle="modal" data-target="#connectModal" role="button" class="btn btn-default">Visualizza i suoi contatti</a>
    				{% else %}
    					<a href="{{ path('character-connection-modal', {'action':'view','id' : character.id}) }}" data-toggle="modal" data-target="#connectModal" role="button" class="btn btn-default">Gestisci i tuoi contatti</a>
    				{% endif %}
    				{% if is_granted('ROLE_STORY_TELLER') %}
    					<a href="" data-toggle="modal" data-target="#merits" role="button" class="btn btn-default">Modifica PG/PNG</a>
    				{% endif %}
    				{% if is_granted('ROLE_CENSOR') %}
    					{{ form_start(editForm,  {'action':path('character_update_roles', {'character_id' : character.id})}) }}
    						<div class="form-group-inline">
    							{{ form_row(editForm.rank, {'attr': {'class': 'form-control', 'onchange': '$(this).parents("form").submit()'}}) }}
    						</div>
    					{{ form_end(editForm) }}
    				{% endif %}
    				{% set figs %}
    					{% if character.extra.title %}
    						{{ character.extra.title }}
    					{% else %}
    					    {{ character.figs.name }}
    					{% endif %}
    				{% endset %}
    				<small>
                        {{ character | tags }}
                    </small>
				</div>
            </h1>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-5">
                <div class="info-container bio">
                    {% if isMine or is_granted("ROLE_STORY_TELLER") %}
                        <a class="edit"
                           data-toggle="modal"
                           data-target="#updater-bio"
                           {% if is_granted("ROLE_STORY_TELLER") %}data-characterid="{{ character.id }}"{% endif %}
                           data-destination="bio"
                           data-name="character_bio_updater[bio]"
                           data-source="#bio"
                           data-action="{{ path('character-update-bio') }}">Modifica</a>
                    {% endif %}
                    <h4>
                        Bio Personaggio {% if isMine or is_granted("ROLE_STORY_TELLER") %}<small class="text-muted">pubblico</small>{% endif %}
                    </h4>
                    <hr />
                    <p id="bio">
                        {{ character.extra.bio | trim}}
                    </p>
                </div>
                <div class="info-container quote">
                    {% if isMine or is_granted("ROLE_STORY_TELLER") %}
                        <a class="edit"
                           data-toggle="modal"
                           data-target="#updater-quote"
                           {% if is_granted("ROLE_STORY_TELLER") %}data-characterid="{{ character.id }}"{% endif %}
                           data-source-quote="#quote"
                           data-source-cite="#cite"
                           data-action="{{ path('character-update-bio') }}">Modifica</a>
                    {% endif %}
                    <h4>
                        Citazione {% if isMine or is_granted("ROLE_STORY_TELLER") %}<small class="text-muted">pubblico</small>{% endif %}
                    </h4>
                    <hr />
                    <blockquote class="blockquote">
                        <p id="quote" class="mb-0">{{ character.extra.quote | trim}}</p>
                        <footer id="cite" class="blockquote-footer">{{ character.extra.cite | trim}}</footer>
                    </blockquote>
                </div>
                <div class="info-container files">
                    {% if is_granted('ROLE_STORY_TELLER') %}
                        <a class="edit" data-toggle="modal" data-characterid="{{ character.id }}" data-target="#uploader" data-destination="sheet" data-name="character_sheet_uploader[sheet]" data-action="{{ path('character-upload-sheet') }}">Carica scheda</a>
                    {% endif %}
                    <h4>
                        File {% if isMine or is_granted("ROLE_STORY_TELLER") %}<small class="text-muted">privato&nbsp;<a href="#" class="badge" style="float:right" data-toggle="tooltip" data-placement="left" title="Questo box non sarà visibile a nessuno">?</a></small>{% endif %}
                    </h4>
                    <hr />
                    {% if isMine or is_granted("ROLE_STORY_TELLER") or is_granted('ROLE_STORY_TELLER')%}
                    <ul class="list-unstyled">
                        <li>
                            {% set filename = "//www.imperiumsanguinis.it/uploads/character_sheet/" ~ character.extra.sheet %}
                            <a href="{{ filename }}">Scheda personaggio</a>
                            {% if is_granted('ROLE_STORY_TELLER') %}
                                {% if not character.extra.sheet %}
                               		<span  data-toggle="tooltip" data-placement="right" title="Non risulta caricata nessuna scheda per questo PG" class="label label-danger"> ! </span>
                               	{% elseif not character.extra.sheet | file_exists %}
                                	<span  data-toggle="tooltip" data-placement="right" title="Il file di scheda sembra essere corroto, caricalo di nuovo" class="label label-warning"> ! </span>
                                {% endif %}
                            {% endif %}
                        </li>
                    </ul>
                    {% endif %}
                    <ul class="list-unstyled">
						<li><strong>Gioco</strong></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/gioco_semplice_2.1.doc">Gioco semplice</a> <small>descrive il gioco a chi ha appena cominciato</small></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/gioco_profondo_2.1.doc">Gioco profondo</a> <small>descrive il gioco per chi ama approfondire</small></li>
						<li><hr /></li>
						<li><strong>Congreghe</strong></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/carthiani.doc">Carthiani</a> <small>I ribelli</small></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/circolo_degli_auguri.doc">Circolo degli auguri</a> <small>Le bestie della Madre</small></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/invictus.doc">Invictus</a> <small>Il primo stato</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/lancea_et_sanctum.doc">Lancea et Sanctum</a> <small>Lupi tra le pecore</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/ordo_dracul.doc">Ordo Dracul</a> <small>Gli esiliati</small></li>
						<li><hr /></li>
						<li><strong>Discipline</strong></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/animalism.doc">Animalismo</a> <small>Controlla gli animali</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/auspex.doc">Auspex</a> <small>Amplifica le tue percezioni</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/dominate.doc">Dominazione</a> <small>Controlla gli altri</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/majesty.doc">Maestà</a> <small>Affascina gli altri</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/nightmare.doc">Incubo</a> <small>Incuti terrore</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/obfuscate.doc">Oscurazione</a> <small>Nasconditi in piena vista</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/physical_disciplines.doc">Discipline fisiche</a> <small>Porta il tuo fisico oltre ogni limite</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/devotions.doc">Devozioni</a> <small>Combina tra loro le varie discipline</small></li>
						<li><hr /></li>
						<li><strong>Meriti</strong></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/compendio_combat.doc">Combattimento</a> <small>Meriti utili al combattimento</small></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/equipment.doc">Equipaggimento</a> <small>La guida all'equipaggimento</small></li>
                        <li><a href="//www.imperiumsanguinis.it/uploads/game_files/meriti_sovrannaturali.doc">Meriti Sovrannaturali</a> <small>Lista dei meriti sovrannaturali</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/vampire_merits.doc">Meriti Vampirici</a> <small>Lista dei meriti dei Fratelli</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/meriti_umani.doc">Meriti Umani</a> <small>Lista dei meriti umani</small></li>
						<li><a href="//www.imperiumsanguinis.it/uploads/game_files/png.doc">Png</a> <small>Lista dei meriti dei PNG</small></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7">
                {% if isMine or is_granted("ROLE_STORY_TELLER") %}
                    <div class="info-container stats">
                        {% if is_granted("ROLE_STORY_TELLER") %}
                            <a class="edit"
                               data-toggle="modal"
                               data-target="#stats_create"
                               href="{{ path('character-add-stats', {characterid: character.id }) }}">Modifica</a>
                        {% endif %}
                        <h4>
                            Statistiche {% if isMine or is_granted("ROLE_STORY_TELLER") %}<small class="text-muted">privato</small>{% endif %}
                        </h4>
                        <hr />
                        {% for characterStats in character.stats %}
                            <div class="row">
                                <div class="col-sm-2">{{ characterStats.stat.label }}</div>
                                <div class="col-sm-4">
                                    <em>{% for i in range(1, characterStats.level) %}<span class="stats_dot"></span>{% endfor %}</em>
                                </div>
                                <div class="col-sm-6 text-right">
                                    {% if is_granted("ROLE_STORY_TELLER") %}
                                    <a href="{{ path('character-remove-stats', {csid: characterStats.id }) }}" onclick="return needConfirmToDelete()" class="btn btn-danger" role="button">Cancella</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% if not loop.last %}
                                <hr />
                            {% endif %}
                        {% else %}
                            <em>Non hai statistiche da mostrare</em>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if isMine or is_granted("ROLE_STORY_TELLER") %}
                    <div class="info-container equip">
                        <h4>
                            Equipaggiamento {% if isMine or is_granted("ROLE_STORY_TELLER") %}<small class="text-muted">privato</small>{% endif %}
                        </h4>
                        <hr />
                        {% set equip_limit = 2 %}
                        {% if is_granted("ROLE_STORY_TELLER") %}
                            <div data-load="{{ path('equipment-index', {limit:equip_limit, cid:character.id}) }}"></div>
                        {% else %}
                            <div data-load="{{ path('equipment-index', {limit:equip_limit}) }}"></div>
                        {% endif %}
                    </div>
                {% endif %}
                {% for photo in photos%}
                <div class="info-container pic">
                    {% if isMine or is_granted("ROLE_STORY_TELLER") %}<a class="edit" {% if is_granted("ROLE_STORY_TELLER") %}data-characterid="{{ character.id }}"{% endif %} data-toggle="modal" data-target="#uploader" data-destination="album" data-name="character_album_uploader[path]" data-action="{{ path('character-upload-album') }}">Carica una foto</a>{% endif %}
                    <div class="pic-container" data-background="//www.imperiumsanguinis.it/{{ asset('uploads/character_album/' ~ photo.path) }}"></div>
                    <div class="pic-label">
                        <h4>{{ photo.label }} <small>caricata <strong>{{ photo.uploadDate | strftime}}</strong></small></h4>
                    </div>
                </div>
                {% else %}
                    <div class="info-container pic">
                        {% if isMine or is_granted("ROLE_STORY_TELLER") %}<a class="edit" {% if is_granted("ROLE_STORY_TELLER") %}data-characterid="{{ character.id }}"{% endif %} data-toggle="modal" data-target="#uploader" data-destination="album" data-name="character_album_uploader[path]" data-action="{{ path('character-upload-album') }}">Modifica</a>{% endif %}
                        <div class="pic-label">
                            <h4>Non ci sono foto</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploader" tabindex="-1" role="dialog" aria-labelledby="uploaderModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{{ path('character-upload-photo') }}" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Carica una Immagine</h5>
                    </div>
                    <div class="modal-body">
                        <input id="uploaderDestinationName" type="file" name="file" required="true"/>
                        <input id="uploaderDestination" type="hidden" name="destination"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Carica</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="updater-bio" tabindex="-1" role="dialog" aria-labelledby="uploaderModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{{ path('character-upload-photo') }}" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aggiorna</h5>
                    </div>
                    <div class="modal-body">
                        <textarea id="updaterDestinationName" class="form-control" rows="5" name="text"></textarea>
                        <input id="updaterDestination" type="hidden" name="destination"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Aggiorna</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="updater-quote" tabindex="-1" role="dialog" aria-labelledby="uploaderModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="{{ path('character-update-quote') }}" method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Aggiorna</h5>
                    </div>
                    <div class="modal-body">
                        <label for="quoteSource">
                            Citazione
                        </label>
                        <input id="quoteSource" class="form-control" type="text" name="quote" />
                        <br />
                        <label for="citeSource">
                            Chi
                        </label>
                        <input id="citeSource" class="form-control" type="text" name="cite" />
                        <input id="updaterDestination" type="hidden" name="destination"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Aggiorna</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="connectModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document"></div>
    </div>

    <div id="stats_create" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document"></div>
    </div>

    <div id="merits" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">Modifica Personaggio</div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ render(controller(
                                'App\\Controller\\CharacterController::edit', {'characterid': character.id, 'action': 'edit'}
                            )) }}
                        </div>
                    </div>
                </div>
                <div class="modal-foter"></div>
            </div>
        </div>
    </div>
{% endblock %}
