{% extends 'base.layout.html.twig' %}

{% block title %}Messenger{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messenger.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/messenger.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
            Messaggi - <a href="{{ path('messenger', {'impersonating':true}) }}">Invia un messaggio</a>
		</h1>
        <div class="row">
            <div class="col-xs-12">
                <div id="message-page">
                {% for chat in chats %}
                	<div class="row admin-message-container">
                		<div class="col-sm-8">
                            {% if chat.sender == chat.user1 %}
                            	{% if chat.user1.photo %}
                                <img width="100" height="100"
                                     src="{{ asset('uploads/character_photo/' ~ chat.user1.photo) }}"/>
                                {% else %}
                                    <img width="100" height="100"
                                         src="//ui-avatars.com/api/?name={{ chat.user1.characterName }}&size=200&rounded=true"/>
                                {% endif %}
                                {% if chat.user2.photo %}
                                    <img width="100" height="100"
                                         src="{{ asset('uploads/character_photo/' ~ chat.user2.photo) }}"/>
                                {% else %}
                                    <img width="100" height="100"
                                         src="//ui-avatars.com/api/?name={{ chat.user2.characterName }}&size=200&rounded=true"/>
                                {% endif %}
                            	<span>
                                	<strong>
                                	    <a href="{{path('character', {"characterNameKeyUrl": chat.user1.characterNameKeyUrl})}}">{{ chat.user1.characterName }}</a>
                                	</strong> 
                                	<small>ha scritto a</small> 
                                		<a href="{{path('character', {"characterNameKeyUrl": chat.user2.characterNameKeyUrl})}}"><strong>{{ chat.user2.characterName }}</a>
                                	</strong>
                            	</span>
                            {% else %}
                            	{% if chat.user2.photo %}
                                <img width="100" height="100"
                                     src="{{ asset('uploads/character_photo/' ~ chat.user2.photo) }}"/>
                                {% else %}
                                    <img width="100" height="100"
                                         src="//ui-avatars.com/api/?name={{ chat.user2.characterName }}&size=200&rounded=true"/>
                                {% endif %}
                                {% if chat.user1.photo %}
                                    <img width="100" height="100"
                                         src="{{ asset('uploads/character_photo/' ~ chat.user1.photo) }}"/>
                                {% else %}
                                    <img width="100" height="100"
                                         src="//ui-avatars.com/api/?name={{ chat.user1.characterName }}&size=200&rounded=true"/>
                                {% endif %}
                            	<span>
                                	<strong>
                                	    <a href="{{path('character', {"characterNameKeyUrl": chat.user2.characterNameKeyUrl})}}">{{ chat.user2.characterName }}</a>
                                	</strong> 
                                	<small>ha scritto a</small> 
                                		<a href="{{path('character', {"characterNameKeyUrl": chat.user1.characterNameKeyUrl})}}"><strong>{{ chat.user1.characterName }}</a>
                                	</strong>
                            	</span>
                            {% endif %}
                		</div>
                		<div class="col-sm-2">
                			<span>
                				<br />
                    			inviato il<br />
                    			<strong>{{ chat.createdAt.format('d-m-Y H:i:s') }}</strong>
                			</span>
                		</div>
                		<div class="col-sm-2">
                			<br />
                			<div class="btn-group-vertical text-center" role="group" aria-label="toolbar">
                				<a href="{{ path('messenger_chat', {'png-id': chat.user1.id, 'characterName': chat.user2.characterNameKeyUrl}) }}" class="btn btn-default" role="button">Vedi Chat</a>
                			</div>
                		</div>
                	</div>
                	{% if not loop.last %}
                		<hr />
                	{% endif %}
                    {% dump(chat) %}
                {% endfor %}
                </div>
                {% if pagesCount > 1 %}
                    <ul class="pagination pagination-sm">
                        <li {{ currentPage == 1 ? 'class="disabled"' }}>
                            <a href="{{ path('messenger', {page: currentPage-1 < 1 ? 1 : currentPage-1}) }}">«</a>
                        </li>
                    
                        {% for i in 1..pagesCount %}
                        <li {{ currentPage == i ? 'class="active"' }}>
                        <a href="{{ path('messenger', {page: i}) }}">{{ i }}</a>
                        </li>
                        {% endfor %}
                    
                        <li {{ currentPage == pagesCount ? 'class="disabled"' }}>
                            <a href="{{ path('messenger', {page: currentPage+1 <= pagesCount ? currentPage+1 : currentPage}) }}">»</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
	</div>
{% endblock %}