{% extends 'base.layout.html.twig' %}

{% block title %}Messenger{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/messenger.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/messenger.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <h1>
        Lettere
    </h1>
    <hr />
    <a href="{{ path('letter-send') }}" data-target="#letter_modal" data-toggle="modal">Scrivi una lettera</a>
    <h6>
        <small><strong>NB</strong> Le lettere ci mettono 24 ore per essere consegnate</small>
    </h6>
    <hr />
    {% if delivering and delivering|length > 0 %}
    <h4>In consegna</h4>
        {% for delivery in delivering %}
            <div class="row">
                {% if delivery.user1.id == delivery.sender.id %}
                    {% set delivered = delivery.user2 %}
                {% else %}
                    {% set delivered = delivery.user1 %}
                {% endif %}
                <div class="col-md-6">
                    <div class="media">
                        {% set photo %}
                            {% if delivered.photo %}
                                //www.imperiumsanguinis.it{{ asset('uploads/character_photo/' ~ delivered.photo) }}
                            {% else %}
                                //ui-avatars.com/api/?name={{ delivery.user2.characterName }}&size=25&rounded=true
                            {% endif %}
                        {% endset %}
                        <div class="media-left">
                            <img class="media-object" src="{{ photo | trim }}" alt="{{delivered.characterName }}">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">inviata il {{ delivery.createdAt | strftime }} a <a href="{{ path('character', {characterNameKeyUrl:delivered.characterNameKeyUrl}) }}">{{ delivered.characterName }}</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <a href="{{ path('letter-read-admin', {cid1:delivery.id} ) }}" class="btn btn-default" data-toggle="modal" data-target="#letter_modal">Leggi</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <h4>Consegnate</h4>
    {% for sender in letters %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        {% set photo %}
                            {% if sender.photo %}
                                //www.imperiumsanguinis.it{{ asset('uploads/character_photo/' ~ sender.photo) }}
                            {% else %}
                                //ui-avatars.com/api/?name={{ sender.characterName }}&size=25&rounded=true
                            {% endif %}
                        {% endset %}
                        <img class="media-object" src="{{ photo | trim }}" alt="{{ sender.characterName }}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{ path('character', {characterNameKeyUrl:sender.characterNameKeyUrl}) }}">{{ sender.characterName }}</a>
                        <small>Ultima lettera {{ chats[sender.id]|last.createdAt | strftime }}</small>
                    </h4>
                </div>
                <hr />
                {% for chat in chats[sender.id]|reverse %}
                    {% set label %}
                        {% if chat.sender.id == sender.id %}
                            L'hai ricevuto tu
                        {% else %}
                            L'hai inviato tu
                        {% endif %}
                    {% endset %}
                    {% set icon %}
                        {% if chat.sender.id == sender.id %}
                            share
                        {% else %}
                            reply
                        {% endif %}
                    {% endset %}
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <em><i class="fa fa-{{ icon | trim }}" aria-hidden="true"></i> {{ label | trim }}</em>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            {% set text %}
                                {{ chat.text | ue | striptags }}
                            {% endset %}
                            {{ chat.text | ue | striptags |truncate(120, true) }}
                        </div>
                    </div>
                    {% if not loop.last %}
                        <hr />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <a class="continue-reading" href="{{ path('letter-read', {cid:sender.id}) }}" data-toggle="modal" data-target="#letter_modal">Leggi tutta</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                <div class="jumbotron">
                    <h3>Per ora non hai ricevuto alcuna lettere</h3>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="letter_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document"></div>
</div>
{% endblock %}