{% set time = lastDate %}
{% for downtime in downtimes %}
    {% if time != downtime.createdAt.format('FY')%}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="text-center" id="{{downtime.createdAt.format('FY')}}">
                <small>{{downtime.createdAt.format('F Y')}}</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 timelin"></div>
    </div>
    {% endif %}
    {% set time = downtime.createdAt.format('FY') %}
    
    <div class="row downtime-container{% if downtime.resolution is null %} unresolved{% endif %}">
        <div class="col-md-6  col-xs-12 action">
            {% if is_granted("ROLE_STORY_TELLER") %}
        		<h3>{{ downtime.character.characterName }}</h3>
        	{% endif %}
            <h4><strong>{{downtime.title}}</strong><small> creato il {{ downtime.createdAt|date('d/m/Y H:i:s') }}</small></h4>
            <p>
                {{downtime.text}}
            </p>
        </div>
        <div class="col-md-6 col-xs-12">
            {% if is_granted("ROLE_STORY_TELLER") %}
        		<h3>&nbsp;</h3>
        	{% endif %}
            <h4 class="resolution-title">
                <strong>Risoluzione</strong><small> {% if downtime.resolvedAt is not null %}risolto il {{ downtime.resolvedAt|date('d/m/Y H:i:s') }}{% endif %}</small>
                {% if is_granted('ROLE_STORY_TELLER') %}
                    {% if downtime.resolution is null %}
                        <a href="{{ path('downtime-resolve', {dtid:downtime.id}) }}" data-toggle="modal" data-target="#downtimetModal" class="edit-button resolution-button">Risolvi</a>
                    {% endif %}
                {% else %}
                    {% if downtime.resolution is null %}
                        <a href="{{ path('downtime-delete', {dtid:downtime.id}) }}" class="resolution-button">Cancella</a>
                        <a href="{{ path('downtime-view', {type:downtime.type, dtid:downtime.id}) }}" data-toggle="modal" data-target="#downtimetModal" class="edit-button">Modifica</a>
                    {% endif %}
                {% endif %}
            </h4>
            <p>
                {% if downtime.resolution is null %}
                    <em>In attesa di risoluzione</em>
                {% else %}
                    {{downtime.resolution}}
                {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 timeline"></div>
    </div>
{% else %}
	<div class="no-result">
		<strong>Nessun Risultato</strong>
		<br />
		<small>
                <a href="{{ path('downtime-view', {type:'c'}) }}" data-toggle="modal" data-target="#downtimetModal">Crea Azione Complessa</a>
        </small>
        <small>&nbsp;|&nbsp;</small>
        <small>
            <a href="{{ path('downtime-view', {type:'s'}) }}" data-toggle="modal" data-target="#downtimetModal">Crea Azione Semplice</a>
        </small>
	</div>
{% endfor %}
