{% extends 'base.layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/roller.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menu.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.js') }}"></script>
    <script src="{{ asset('js/roller.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="menu container">
        <div class="row">
            <div class="col-md-4 col-xs-12 align-middle">
                {% if is_granted('ROLE_STORY_TELLER') %}
                    <div class="position-relative">
                        <div class="menu-icon-big text-center active" data-toggle="tooltip" data-placement="right" title="Personaggi">
                            <a href="{{ path("characters") }}" class="menu-link"></a>
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                    </div>
                {% else %}
                    <div class="position-relative">
                        <div class="menu-icon-big text-center active" data-toggle="tooltip" data-placement="right" title="Personaggio">
                            <a href="{{ path("character") }}" class="menu-link"></a>
                            <i class="fa fa-vcard-o" aria-hidden="true"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center {% if is_granted("ROLE_REGISTERED") %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Messaggi {% if not is_granted("ROLE_REGISTERED") %} - non sei censito{% endif %}">
                        {% if is_granted("ROLE_REGISTERED") %}<a href="{{ path('messenger') }}" class="menu-link"></a>{% endif %}
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center {% if is_granted("ROLE_REGISTERED") %}active{% endif %}" data-toggle="tooltip" data-placement="right" title="Bacheca {% if not is_granted("ROLE_REGISTERED") %} - non sei censito{% endif %}">
                        {% if is_granted("ROLE_REGISTERED") %}<a href="{{ path('board-index') }}" class="menu-link"></a>{% endif %}
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="tooltip" data-placement="right" title="Canali">
                        <a href="#" class="menu-link"></a>
                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle" onclick="roll()">

                <div class="card-container">
                  <div class='card2' id='box1'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box2'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box3'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box4'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box5-value' style="z-index:10">

                    <div class="sides front">
                      <div class='skull tl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull tr'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull bl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull br'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                    </div>

                    <div class="sides back">
                      <div class='skull tl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull tr'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <span id="value">2</span>
                      <div class='skull bl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull br'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="tooltip" data-placement="right" title="Note">
                        <a href="#" class="menu-link"></a>
                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="tooltip" data-placement="right" title="Downtime">
                        <a href="{{ path('downtime-index') }}" class="menu-link"></a>
                        <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="tooltip" data-placement="right" title="Coterie">
                        <a href="#" class="menu-link"></a>
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="tooltip" data-placement="right" title="Eventi">
                        <a href="#" class="menu-link"></a>
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
