{% extends 'base.layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/roller.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/menu.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.js') }}"></script>
    <script src="{{ asset('js/roller.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="menu container">
    	<div class="row input-container">
    		<div class="col-sm-12">
    			<div class="internal-spacer">
    				<div class="main-input">
        				<input id="search-toolbar-menu" type="text" class="form-control search-bar-menu" name="all-select" placeholder="Cerca personaggi..." data-src="{{ path('all-selector') }}"/>
        				<div class="search-icon">
        					<i class="fa fa-search" aria-hidden="true"></i>
        				</div>
    				</div>
    			</div>
    		</div>
    	</div>
        <div class="row">
            <div class="col-md-4 col-xs-12 align-middle">
                {% if is_granted('ROLE_STORY_TELLER') %}
                    <div class="position-relative">
                        <div class="menu-icon-big text-center active" data-toggle="popover" data-placement="auto" title="Personaggi" data-content="Quì potrai accedere alla lista dei personaggi">
                            <a href="{{ path("characters") }}" class="menu-link"></a>
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                    </div>
                {% else %}
                    <div class="position-relative">
                        <div class="menu-icon-big text-center active" data-toggle="popover" data-placement="auto" title="Personaggio" data-content="Quì potrai accedere al profilo del tuo personaggio, ai file di gioco ed alla tua scheda">
                            <a href="{{ path("character") }}" class="menu-link"></a>
                            <i class="fa fa-vcard-o" aria-hidden="true"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center {% if is_granted("ROLE_REGISTERED") %}active{% endif %}" data-toggle="popover" data-placement="auto" title="Messaggi" data-content="Quì potrai inviare e ricere messaggi dagli altri PG/PNG{% if not is_granted("ROLE_REGISTERED") %}<br />non puoi accedere perchè non sei censito <a href={{ censorMessagePath }}>invia un messaggio al censore</a>{% endif %}">
                        {% if is_granted("ROLE_REGISTERED") %}<a href="{{ path('messenger') }}" class="menu-link"></a>{% endif %}
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center {% if is_granted("ROLE_REGISTERED") %}active{% endif %}" data-toggle="popover" data-placement="auto" title="Bacheca" data-content="Quì potrai leggere gli editti imperiali e vari annunci{% if not is_granted("ROLE_REGISTERED") %}<br />non puoi accedere perchè non sei censito <a href={{ censorMessagePath }}>invia un messaggio al censore</a>{% endif %}">
                        {% if is_granted("ROLE_REGISTERED") %}<a href="{{ path('board-index') }}" class="menu-link"></a>{% endif %}
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="popover" data-placement="auto" title="Equipaggiamento" data-content="In questa sezione potrai gestire il tuo equipaggiamento">
                        <a href="{{ path('equipment-index') }}" class="menu-link"></a>
                        <i class="fa fa-university" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle" onclick="roll()">

                <div class="card-container">
                  <div class='card2' id='box1'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box2'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box3'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box4'>
                    <div class='skull tl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull tr'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull bl'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                    <div class='skull br'>
                      <div class='head'>
                      </div>
                      <div class='mouth'>
                        <div class='teeth'></div>
                      </div>
                    </div>
                  </div>

                  <div class='card2' id='box5-value' style="z-index:10">

                    <div class="sides front">
                      <div class='skull tl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull tr'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull bl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull br'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                    </div>

                    <div class="sides back">
                      <div class='skull tl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull tr'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <span id="value">2</span>
                      <div class='skull bl'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                      <div class='skull br'>
                        <div class='head'>
                        </div>
                        <div class='mouth'>
                          <div class='teeth'></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="popover" data-toggle="popover" data-placement="auto" title="Coming Soon" data-content="A breve saranno implementate nuove funzionalità, stay tuned">
                        <a href="#" class="menu-link"></a>
                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="popover" data-placement="auto" title="Downtime" data-content="Cosa farà il tuo personaggio tra un live e l'altro?">
                        <a href="{{ path('downtime-index') }}" class="menu-link"></a>
                        <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="popover" data-placement="auto" title="Coming Soon" data-content="A breve saranno implementate nuove funzionalità, stay tuned">
                        <a href="#" class="menu-link"></a>
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 align-middle">
                <div class="position-relative">
                    <div class="menu-icon-big text-center active" data-toggle="popover" data-placement="auto" title="Elisei" data-content="Controlla i prossimi eventi di Imperium sanguinis">
                        <a href="{{ path('event_index') }}" class="menu-link"></a>
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
