<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %} - Imperium Sanguinis</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" />

        <!-- Main css -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />

        <!-- Fonts -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'>

        <!-- Plugin -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" crossorigin="anonymous" />

        <!-- IE 9 support -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.min.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("homepage") }}">Imperium Sanguinis</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <input id="search-toolbar" type="text" class="form-control search-bar" name="all-select" placeholder="Cerca..." data-src="{{ path('all-selector') }}"/>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if not is_granted('ROLE_STORY_TELLER') %}
                            <li><a href="{{path('character')}}">Profilo</a></li>
                        {% endif %}
                        <li><a href="{{ path('logout') }}">Esci</a></li>
                        <li class="dropdown notifications">
                            {{ render(controller(
                                'App\\Controller\\NotificationsController::notifications'
                            )) }}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}
		
        <div id="loading-image">
            <div id="loading-image-cog-ext">
                <div id="loading-image-cog-int"></div>
            </div>
        </div>

        <!-- Required JS -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script src="{{ asset('js/typeahead.js') }}"></script>

        <script src="{{ asset('js/main.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
