<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %} - Imperium Sanguinis</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" />

        <!-- Main css -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />

        <!-- Fonts -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'>

        <!-- Plugin -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" crossorigin="anonymous" />

        <!-- IE 9 support -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ asset('js/html5shiv.min.js') }}"></script>
        <script src="{{ asset('js/respond.min.js') }}"></script>
        <![endif]-->

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		<div calss="vox-container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path("homepage") }}">Vox Gentis <small>Imperium Sanguinis</small></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <input id="search-toolbar" type="text" class="form-control search-bar" name="all-select" placeholder="Cerca..." data-src="{{ path('all-selector') }}"/>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not is_granted('ROLE_STORY_TELLER') %}
                                <li><a href="{{path('character')}}">Personaggio</a></li>
                            {% endif %}
                        	<li>
                        		<a href="{{path('character')}}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        			Menu <span class="caret"></span>
                        		</a>
                            	<ul id="navigator-caret" class="dropdown-menu">
                            		<li><a href="{{ path('homepage') }}">Home</a></li>
                            		<li role="separator" class="divider"></li>
                            		<li>
                        			    {% if not is_granted('ROLE_STORY_TELLER') %}
                        			    	<a href="{{ path('character') }}">
                        						<i class="fa fa-vcard-o" aria-hidden="true"></i>
                        						Profilo
                        					</a>
                            			{% else %}
                            				<a href="{{ path('characters') }}">
                            					<i class="fa fa-users" aria-hidden="true"></i>
                        						Personaggi
                        					</a>
                            			{% endif %}
                        			</li>
                                    <li>
                                        <a href="{{ path('equipment-index') }}">
                                            <i class="fa fa-university" aria-hidden="true"></i>
                                            Equipaggiamento
                                        </a>
                                    </li>
                            		<li>
                            			<a href="{{ path('choose-messenger') }}">
                            				<i class="fa fa-envelope-o" aria-hidden="true"></i>
                            				Messaggi
                            			</a>
                        			</li>
                        			<li>
                            			<a href="{{ path('board-index') }}">
                            				<i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            				Bacheca
                            			</a>
                        			</li>
                        			<li>
                            			<a href="{{ path('downtime-index') }}">
                            				<i class="fa fa-hourglass-half" aria-hidden="true"></i>
                            				Downtime
                            			</a>
                        			</li>
                                    <li>
                                        <a href="{{ path('event_index') }}">
                                            <i class="fa fa-ticket" aria-hidden="true"></i>
                                            Eventi
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('item-index') }}">
                                            <i class="fa fa-qrcode" aria-hidden="true"></i>
                                            Item
                                        </a>
                                    </li>
                        			<li role="separator" class="divider"></li>
                        			<li>
                            			<a href="{{ path('user') }}">
                            				<i class="fa fa-user" aria-hidden="true"></i>
                            				Impostazioni
                            			</a>
                        			</li>
                            	</ul>
                    		</li>
                            <li class="dropdown notifications">
                                {{ render(controller(
                                    'App\\Controller\\NotificationsController::notifications'
                                )) }}
                            </li>
                            <li><a href="{{ path('logout') }}">Esci</a></li>
                        </ul>
                    </div>
                </div>
                {% for message in app.flashes('notice') %}
                    <div class="container-fluid notice">
                		<p class="text-center">{{ message | raw }} <button  onclick="$(this).parent().fadeOut('fast')" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
                	</div>
                {% endfor %}
            </nav>
    
            {% block body %}{% endblock %}
            
		</div>
		
        <div id="loading-image">
            <div id="loading-image-cog-ext">
                <div id="loading-image-cog-int"></div>
            </div>
        </div>
        
        <a href="#" class="help" data-toggle="modal" data-target="#help">
        	<span>?</span>
        </a>

        <div class="modal fade" id="help" tabindex="-1" role="dialog" aria-labelledby="help" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title">Benvenuto in VOX {{ app.user.username }}</h3>
                    </div>
                    <div class="modal-body">
                       <p>
                       	Benvenuto in vox in questo gestionale potrai usufruire di tutti i servizi che Imperium Sanguinis ha da offrirti
                       </p>
                       <h4>Ricerca PNG/PNG</h4>
                       <p>Nella dashboard ed in tutte le pagine del sito, troverai nella barra in alto una casella di ricerca, dove potrai inserire il nome del PNG/PNG che stai cercando</p>
                       <blockquote><strong>NB:</strong> potrai trovare solo i PG/PNG che sono stati censiti dal censore di turno</blockquote>
                       <h4>Messaggi</h4>
                       <p>Qui troverai tutti i PG/PNG che ti hanno mandato messaggi, ti basterà far click sul loro nome per vedere la conversazione</p>
                       <p>Per inviare un messaggio, ti basterà scrivere il nome del PG/PNG nell'apposita casella di testo</p>
                       <blockquote><strong>tips:</strong> Puoi inviare messaggi anche dal profilo del personaggio destinario, fai click sul pulsante "invia messaggio"</blockquote>
                       <h4>Downtime</h4>
                       <p>Per creare un Downtime, fai click sul tipo di DT che vuoi creare, essi sono limitati quindi usali con attenzione!</p>
                       <h4>Connessione tra PG/PNG</h4>
                       <p>Vox è una piattaforma offerta dall'impero, qualora volessi bypassare tutti i controlli dovrai condividere il tuo contatto privato, per farlo vai nella pagina del profilo della persona che desideri abbia il tuo contatto, e premi il pulsante "richiedi contatto", verrà inviata un richiesta che potrà o non potrà essere accettata, a quel punto potrete scambiarvi messaggi privati.</p>
                       <blockquote><strong>NB:</strong> Una volta scambiato il contatto privato per toglierlo dovrai fare una specifica azione di downtime, attenzione però, potresti perdere tutti i contatti privati scambiati in passato!</blockquote>
                       <h4>Eventi</h4>
                       <p>In questa sezione vedrai tutti gli eventi passati e futuri legati ad Imperium sanguinis.</p>
                       <p>Prepara un eliseo contattando i PG/PNG, pensa alla sicurezza, organizza gli intrattenimenti, scrivi l'intro IG e anda la tua proposta all'Edile</p>
                       <h4>Sviluppi futuri</h4>
                       <p>Vox è in continua evoluzione, quindi molto presto verranno implementate nuove funzionalità</p>
                       <h4>Versione attuale</h4>
                       <p>build-v1.10.4-201820301514</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- Required JS -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script src="{{ asset('js/typeahead.js') }}"></script>

        <script src="{{ asset('js/main.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
